# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

2022-09-16 21:50:49.416624: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('/Users/AbhirMehra/Downloads/Columbia_Bootcamp/Challenges/Challenge 13/Resources/applicants_data.csv')

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df =applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)


# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc =OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,columns = enc.get_feature_names(categorical_variables))

# Review the DataFrame
encoded_df

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df.drop(columns=categorical_variables),encoded_df],axis=1)

# Review the Dataframe
encoded_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler =  StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 4

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  15

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

15

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [19]:
# Create the Sequential model instance
nn =Sequential()

2022-09-16 21:51:09.333363: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="linear"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 15)                1755

 dense_1 (Dense)             (None, 8)                 128

 dense_2 (Dense)             (None, 4)                 36

=================================================================
Total params: 1,919
Trainable params: 1,919
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 2.2859 - accuracy: 0.2575
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 1.5758 - accuracy: 0.3387
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2659 - accuracy: 0.2600
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 1.2196 - accuracy: 0.3166
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1410 - accuracy: 0.3884
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 1.3278 - accuracy: 0.4389
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 1.1335 - accuracy: 0.3469
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9531 - accuracy: 0.3669
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.9124 - accuracy: 0.4059
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8977 - accuracy: 0.3475
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8918 - accuracy: 0.3302
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8655 - accuracy: 0.3686
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8597 - accuracy: 0.4036
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8601 - accuracy: 0.3322
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.8286 - accuracy: 0.4676
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7841 - accuracy: 0.4314
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7439 - accuracy: 0.4533
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7440 - accuracy: 0.4198
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7358 - accuracy: 0.4341
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.7305 - accuracy: 0.3651
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6921 - accuracy: 0.3189
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6432 - accuracy: 0.3845
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6332 - accuracy: 0.3984
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6252 - accuracy: 0.4188
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6146 - accuracy: 0.4177
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6093 - accuracy: 0.1836
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6012 - accuracy: 0.3275
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6006 - accuracy: 0.2860
Epoch 29/50
804/804 [==============================] - 1s 999us/step - loss: 0.5978 - accuracy: 0.3461
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5937 - accuracy: 0.3870
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5979 - accuracy: 0.4550
Epoch 32/50
804/804 [==============================] - 1s 991us/step - loss: 0.5994 - accuracy: 0.3651
Epoch 33/50
804/804 [==============================] - 1s 984us/step - loss: 0.5940 - accuracy: 0.2455
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5953 - accuracy: 0.1443
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5914 - accuracy: 0.1899
Epoch 36/50
804/804 [==============================] - 1s 948us/step - loss: 0.5934 - accuracy: 0.1603
Epoch 37/50
804/804 [==============================] - 1s 967us/step - loss: 0.5898 - accuracy: 0.3693
Epoch 38/50
804/804 [==============================] - 1s 963us/step - loss: 0.5922 - accuracy: 0.3637
Epoch 39/50
804/804 [==============================] - 1s 936us/step - loss: 0.5887 - accuracy: 0.3879
Epoch 40/50
804/804 [==============================] - 1s 962us/step - loss: 0.5859 - accuracy: 0.2711
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5859 - accuracy: 0.3886
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5819 - accuracy: 0.2372
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5854 - accuracy: 0.1365
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5810 - accuracy: 0.1707
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5846 - accuracy: 0.2419
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5802 - accuracy: 0.1623
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5838 - accuracy: 0.1718
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.1297
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.2639
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5802 - accuracy: 0.3287

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5861 - accuracy: 0.5368 - 857ms/epoch - 3ms/step
Loss: 0.5861401557922363, Accuracy: 0.5367929935455322

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("/Users/AbhirMehra/Downloads/Columbia_Bootcamp/Challenges/Challenge 13/Resources/nn.h5")


# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 5

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

20

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="sigmoid"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 20)                2340

 dense_4 (Dense)             (None, 5)                 105

=================================================================
Total params: 2,445
Trainable params: 2,445
Non-trainable params: 0
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 2s 2ms/step - loss: 2.9307 - accuracy: 0.1599
Epoch 2/80
804/804 [==============================] - 2s 2ms/step - loss: 0.6807 - accuracy: 0.1454
Epoch 3/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6495 - accuracy: 0.2071
Epoch 4/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6406 - accuracy: 0.1814
Epoch 5/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6357 - accuracy: 0.1972
Epoch 6/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6307 - accuracy: 0.1851
Epoch 7/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6374 - accuracy: 0.1640
Epoch 8/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6224 - accuracy: 0.2403
Epoch 9/80
804/804 [==============================] - 1s 2ms/step - loss: 0.6191 - accuracy: 0.3110
Epoch 10/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6177 - accuracy: 0.2628
Epoch 11/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6167 - accuracy: 0.2507
Epoch 12/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6168 - accuracy: 0.2260
Epoch 13/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6172 - accuracy: 0.2518
Epoch 14/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6119 - accuracy: 0.1690
Epoch 15/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6084 - accuracy: 0.1760
Epoch 16/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6119 - accuracy: 0.2195
Epoch 17/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6058 - accuracy: 0.1505
Epoch 18/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5996 - accuracy: 0.1452
Epoch 19/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5962 - accuracy: 0.1572
Epoch 20/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5886 - accuracy: 0.1958
Epoch 21/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6094 - accuracy: 0.2992
Epoch 22/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5891 - accuracy: 0.3624
Epoch 23/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5850 - accuracy: 0.3200
Epoch 24/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5827 - accuracy: 0.2832
Epoch 25/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5823 - accuracy: 0.2484
Epoch 26/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5773 - accuracy: 0.2458
Epoch 27/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5799 - accuracy: 0.1981
Epoch 28/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5751 - accuracy: 0.1981
Epoch 29/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5727 - accuracy: 0.1896
Epoch 30/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5732 - accuracy: 0.2357
Epoch 31/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5698 - accuracy: 0.2203
Epoch 32/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5713 - accuracy: 0.2734
Epoch 33/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5681 - accuracy: 0.1593
Epoch 34/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6954 - accuracy: 0.3476
Epoch 35/80
804/804 [==============================] - 1s 1ms/step - loss: 0.7411 - accuracy: 0.5087
Epoch 36/80
804/804 [==============================] - 1s 1ms/step - loss: 0.6127 - accuracy: 0.3704
Epoch 37/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5723 - accuracy: 0.2396
Epoch 38/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5693 - accuracy: 0.1721
Epoch 39/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5650 - accuracy: 0.1529
Epoch 40/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5608 - accuracy: 0.1666
Epoch 41/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5614 - accuracy: 0.1862
Epoch 42/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5601 - accuracy: 0.1821
Epoch 43/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5577 - accuracy: 0.1693
Epoch 44/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5557 - accuracy: 0.1807
Epoch 45/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5556 - accuracy: 0.2269
Epoch 46/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5548 - accuracy: 0.2153
Epoch 47/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5570 - accuracy: 0.1919
Epoch 48/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5569 - accuracy: 0.1846
Epoch 49/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.1445
Epoch 50/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5519 - accuracy: 0.1670
Epoch 51/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.1597
Epoch 52/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5504 - accuracy: 0.1507
Epoch 53/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5521 - accuracy: 0.1735
Epoch 54/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.1919
Epoch 55/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5547 - accuracy: 0.1878
Epoch 56/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5561 - accuracy: 0.1660
Epoch 57/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.1688
Epoch 58/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.1553
Epoch 59/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5598 - accuracy: 0.1896
Epoch 60/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5795 - accuracy: 0.2463
Epoch 61/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5793 - accuracy: 0.2262
Epoch 62/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5711 - accuracy: 0.2209
Epoch 63/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5631 - accuracy: 0.2762
Epoch 64/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5595 - accuracy: 0.3144
Epoch 65/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5558 - accuracy: 0.2961
Epoch 66/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.2911
Epoch 67/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.3207
Epoch 68/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.2957
Epoch 69/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.2166
Epoch 70/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.2231
Epoch 71/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5508 - accuracy: 0.1885
Epoch 72/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.1883
Epoch 73/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5544 - accuracy: 0.2098
Epoch 74/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5487 - accuracy: 0.2068
Epoch 75/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.2016
Epoch 76/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5499 - accuracy: 0.1817
Epoch 77/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5496 - accuracy: 0.2043
Epoch 78/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.2018
Epoch 79/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5510 - accuracy: 0.2208
Epoch 80/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5473 - accuracy: 0.1523

#### Alternative Model 2

In [35]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [36]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 10

In [37]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 25

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

25

In [38]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [39]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="softmax"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 25)                2925

 dense_6 (Dense)             (None, 10)                260

=================================================================
Total params: 3,185
Trainable params: 3,185
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [41]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 2s 2ms/step - loss: 1.1910 - accuracy: 0.0108
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 0.7470 - accuracy: 0.0044
Epoch 3/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6347 - accuracy: 0.0307
Epoch 4/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5980 - accuracy: 0.0155
Epoch 5/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5800 - accuracy: 0.0188
Epoch 6/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5702 - accuracy: 0.0377
Epoch 7/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5648 - accuracy: 0.0924
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5612 - accuracy: 0.1413
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5586 - accuracy: 0.1216
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.0546
Epoch 11/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.0464
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5517 - accuracy: 0.0396
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.0443
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.0376
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.0528
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.0749
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.0402
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.0576
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.0776
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.1196
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.1090
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.0433
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.0859
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.1164
Epoch 25/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.2919
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.1448
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.1307
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.1754
Epoch 29/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.1510
Epoch 30/30
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.1454

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [42]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5861 - accuracy: 0.5368 - 285ms/epoch - 1ms/step
Loss: 0.5861401557922363, Accuracy: 0.5367929935455322

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5609 - accuracy: 0.1848 - 405ms/epoch - 2ms/step
Loss: 0.5609496235847473, Accuracy: 0.1848396509885788

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5534 - accuracy: 0.1755 - 468ms/epoch - 2ms/step
Loss: 0.5534114241600037, Accuracy: 0.1755101978778839

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path2 = Path("/Users/AbhirMehra/Downloads/Columbia_Bootcamp/Challenges/Challenge 13/Resources/nn_1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path2)

In [46]:
# Set the file path for the second alternative model
file_path3 = Path("/Users/AbhirMehra/Downloads/Columbia_Bootcamp/Challenges/Challenge 13/Resources/nn_2.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path3)